.inputs-wrapper {
  display: flex;
  column-gap: 30px;
}

.top-margin {
  margin-top: 28px;
}

.inputs-wrapper input {
  width: calc(100% - 20px);
  height: 40px;
  min-height: 40px;
  padding-left: 16px;
  padding-right: 10px;
  border-radius: 4px;
  border: solid 1px #d8d8d8;
  background-color: #fff;
  margin-top: 8px;
}

.input-field {
  flex: 1;
  width: 100%;

}

.inputs-custom {
  display: flex;
  column-gap: 30px;
}

::ng-deep .inputs-wrapper .input-field .mat-select {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #b1b1b1;
  background-color: #fff;
  position: relative;
  margin-top: 8px;
}
::ng-deep .mat-select-trigger {
  padding-left: 12px;
  height: 100%;
}
.inputs-custom .input-field {
  flex: 1;
  width: 100%;
}

.custom-flex {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.social-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.custom-width {
  max-width: 344px;
  margin-top: 20px;
}

.social-link {
  gap: 30px;
  display: flex;
  width: 100%;
}

.inputs-wrapper .prefix select {
  height: 40px;
  width: 80px;
  border: 1px solid transparent;
  border-right: 1px solid #d8d8d8;
  padding-right: 12px;
}

.inputs-wrapper .mobile-wrapper input {
  padding-left: 50px;
}

.inputs-wrapper .mobile-wrapper {
  display: flex;
  position: relative;
}

.prefix {
  position: absolute;
  left: 2px;
  top: 10px;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

::ng-deep .mat-dialog-container,
::ng-deep .mat-dialog-content {
  padding: 0;
  margin: 0;
}
::ng-deep .mat-dialog-content {
  padding: 12px 30px;
}

::ng-deep .mat-dialog-actions {
  padding: 16px 30px;
  background: #e6e7ea;
  margin-bottom: 0;
}

.custom-input-field{
  flex: 2;
}

.btn-cancel {
  width: 114px;
  height: 40px;
  border-radius: 4px;
  color: #3fa6d9;
  border: none;
  background: transparent;
  margin-right: 10px;
}

.btn-install {
  border: none;
  width: 114px;
  height: 40px;
  color: #fff;

  border-radius: 4px;
  background-color: #3fa6d9;
}

.main-modal-wrapper h1 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding: 26px 30px;
  border-bottom: solid 1px #e9edf1;


}

::ng-deep .text-content mat-select {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #b1b1b1;
  background-color: #fff;
  position: relative;
  margin-top: 8px;
}

.my-10 {
  margin: 24px 0;
}

.space-flex {
  margin-top: 24px;
}

.read-wrapper {
  position: relative;
  display: flex;
}
.read-wrapper .read-text {
  height: 38px;
  width: fit-content;
  top: 0;
  left: 0;
  position: absolute;
  border-radius:  4px 0 0 4px;
  transform: scale(0.9);
  border: none;
  border-right: 1px solid #d8d8d8;
}
.read-wrapper .read-text-main {
  padding-left: 192px;
}

::ng-deep .mat-select-trigger .mat-select-arrow-wrapper {
  position: absolute;
  top: 12px;
  right: 10px;
}

::ng-deep .text-content mat-label {
  display: flex;
  justify-content: flex-end;
  color: #3fa6d9;
}
